<mat-card class="padding">
  <mat-card-title class="separator">Tableau de bord</mat-card-title>

  <mat-accordion class="separator">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>add_box</mat-icon>&nbsp; Ajout d'un centre de vaccination
        </mat-panel-title>
        <mat-panel-description>
          Formulaire d'ajout d'un centre de vaccination
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <mat-form-field>
          <mat-label>Nom du centre</mat-label>
          <input matInput required name="name" placeholder="Ex: Centre des congès Prouvé" [(ngModel)]="form.name" #name="ngModel">
          <mat-icon matPrefix>local_hospital</mat-icon>
          <mat-icon matSuffix *ngIf="name.errors && f.submitted">warning</mat-icon>
          <mat-error *ngIf="name.errors && name.errors['required']">Le nom du centre est requis.</mat-error>
        </mat-form-field>


        <table class="full-width" cellspacing="0">
          <tr>
            <td>   
              <mat-form-field>
                <mat-label>Adresse postale</mat-label>
                <input matInput required placeholder="Ex: 2 bis place Tiers" name="address" [(ngModel)]="form.address" #address="ngModel">
                <mat-icon matPrefix>map</mat-icon>
                <mat-icon matSuffix *ngIf="address.errors && f.submitted">warning</mat-icon>
                <mat-error *ngIf="address.errors && address.errors['required']">L'adresse postale est requise.</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Code postal</mat-label>
                <input required matInput name="postalCode" placeholder="Ex: F-54519 ou 54500" [(ngModel)]="form.postalCode" #postalCode="ngModel"
                 pattern="(?:F-)??[0-9]{5}" maxlength="7" minlength="5">
                <mat-icon matPrefix>my_location</mat-icon>
                <mat-icon matSuffix *ngIf="postalCode.errors && f.submitted">warning</mat-icon>
                <mat-error *ngIf="postalCode.errors && postalCode.errors['required']">Le code postal est requis.</mat-error>
                <mat-error *ngIf="postalCode.errors && postalCode.errors['pattern']">Le code postal n'est pas valide.</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Ville</mat-label>
                <input required matInput placeholder="Ex: Nancy" name="city" [(ngModel)]="form.city" #city="ngModel">
                <mat-icon matPrefix>pin_drop</mat-icon>
                <mat-icon matSuffix *ngIf="city.errors && f.submitted">warning</mat-icon>
                <mat-error *ngIf="city.errors && city.errors['required']">La ville est requise.</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
    
        <button mat-raised-button color="primary" class="separator">Créer le centre</button>
    
        <mat-card class="separator danger" *ngIf="f.submitted && isCreationFailed">
          <mat-card-content>Échec de la création du centre : {{ errorMessage }}</mat-card-content>
        </mat-card>
    
      </form>

      <mat-card class="separator success" *ngIf="isCreationSuccess">
        <mat-card-content>      
          La création du centre a été effectuée avec succès.<br>
          Vous pouvez consulter la liste des centres en cliquant <a mat-button routerLink="/centers">ici</a>.
        </mat-card-content>
      </mat-card>

    </mat-expansion-panel>
  </mat-accordion>

</mat-card>