<div class="box">
    <p class="title is-5"><i class="mr-2 fa-solid fa-hospital-user"></i> Liste des patients</p>
</div>

<div class="columns is-multiline">
    <div class="column is-half is-one-quarter-desktop" *ngFor="let aPatient of patients" [ngClass]="selected==aPatient ? 'selected' : ''">
      <div class="card">
        <div class="card-content">
          <p class="title is-5"><a (click)="selectPatient(aPatient)">{{ aPatient.lastname }}</a></p>
        </div>  
        <footer class="card-footer has-background-link">
          <a class="card-footer-item has-text-light" routerLink="/patient/detail/{{ aPatient.id }}">Détails du patient</a>
          <a class="card-footer-item has-text-light">Prendre un rendez-vous</a>
        </footer>
      </div>
    </div>
</div>

<app-patient [patient]="selected" (deleted)="onDeleted($event)"></app-patient>
