<mat-card class="padding">

  <mat-card-title class="separator">Formulaire de connexion</mat-card-title>

  <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <mat-form-field>
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput placeholder="Ex: micheldupond" required name="username" [(ngModel)]="form.username" #username="ngModel" minlength="3" maxlength="20"> 
      <mat-icon matPrefix>face</mat-icon>
      <mat-icon matSuffix *ngIf="username.errors && f.submitted">warning</mat-icon>
      <mat-hint align="end">{{username.value.length}} / 20</mat-hint>
      <mat-error *ngIf="username.errors && username.errors['required']">Le nom d'utilisateur est requis.</mat-error>
      <mat-error *ngIf="username.errors && username.errors['minlength']">Le nom d'utilisateur
        doit contenir au minimum 3 caractères.
      </mat-error>
      <mat-error *ngIf="username.errors && username.errors['maxlength']">Le nom d'utilisateur
        ne doit pas contenir plus de 20 caractères.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" required name="password" minlength="6" maxlength="40" [(ngModel)]="form.password" #password="ngModel">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint align="end">{{password.value.length}} / 40</mat-hint>
      <mat-icon matPrefix>password</mat-icon>
      <mat-error *ngIf="password.errors && password.errors['required']">Le mot de passe est requis.</mat-error>
      <mat-error *ngIf="password.errors && password.errors['minlength']">Le mot de passe
        doit contenir au minimum 6 caractères.
      </mat-error>
      <mat-error *ngIf="password.errors && password.errors['maxlength']">Le mot de passe
        ne doit pas contenir plus de 40 caractères.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="separator">Connexion</button>

    <mat-card class="separator danger" *ngIf="f.submitted && isLoginFailed">
      <mat-card-content>Échec de la connexion : {{ errorMessage }}</mat-card-content>
    </mat-card>    

  </form>

  <mat-card class="separator success" *ngIf="isLoggedIn">
    <mat-card-content>Vous êtes connecté en tant que : "{{ username }}"</mat-card-content>
  </mat-card>    

</mat-card>