<div class="detail" *ngIf="patient">
    <div class="box">
        <h1 class="title is-5">Patient ID : {{ patient.id }}</h1>

        <p class="subtitle is-5 mt-1">
            {{ patient.lastname | uppercase }} {{ patient.firstname }}
        </p>
        <p class="subtitle is-5 mt-1">
            Date de naissance : {{ patient.birthdate | date: 'dd/MM/yyyy' }}
        </p>

        <button class="button is-danger is-light" (click)="delete(patient.id)">
            Supprimer le patient
        </button>
    </div>
</div>
  