<div id="app">
  <nav class="navbar is-dark is-spaced is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-menu" routerLinkActive="active">
      <div class="navbar-start">
        <a class="button is-primary mr-2" routerLink="home">
          <i class="mr-2 fa-solid fa-house-chimney"></i> Accueil
        </a>
        <a class="navbar-item" routerLink="centers"><i class="mr-2 fa-solid fa-hospital"></i> Liste des centres</a>
        <a class="navbar-item" routerLink="patients"><i class="mr-2 fa-solid fa-hospital-user"></i> Liste des patients</a>
        <a class="navbar-item" *ngIf="showAdminBoard" routerLink="admin"><i class="mr-2 fa-solid fa-screwdriver-wrench"></i> Administration</a>
        <a class="navbar-item" *ngIf="showSuperadminBoard" routerLink="superadmin"><i class="mr-2 fa-solid fa-screwdriver-wrench"></i> Administration</a>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item" *ngIf="!isLoggedIn">
        <div class="buttons">
          <a class="button is-link" routerLink="register">
            <i class="mr-2 fa-solid fa-user-plus"></i> Créer mon compte
          </a>
          <a class="button is-link is-light" routerLink="login">
            <i class="mr-2 fa-solid fa-right-to-bracket"></i> Connexion
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable" *ngIf="isLoggedIn">
        <a class="navbar-link"><i class="mr-2 fa-solid fa-user"></i> {{ username }}</a>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item" routerLink="profile"><i class="mr-2 fa-solid fa-user-gear"></i> Mon compte</a>
          <a class="navbar-item" routerLink="user"><i class="mr-2 fa-solid fa-map-location-dot"></i> Mon tableau de bord</a>
          <hr class="navbar-divider">
          <a class="navbar-item" (click)="logout()"><i class="mr-2 fa-solid fa-right-from-bracket"></i> Déconnexion</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="container is-fluid mt-6">
    <router-outlet></router-outlet>
  </div>
</div>