<p>
  <mat-toolbar color="primary">
    <span>
      <a mat-button routerLink="/home" class="title">Polydoctor</a>
    </span>
    <section>
      <div class="button-row">
        <div class="flex-container">
          <div class="button-container">
            <button mat-mini-fab color="primary" routerLink="/home" aria-label="Accueil">
              <mat-icon>home</mat-icon>
            </button>
          </div>
          <div class="button-container">
            <button mat-mini-fab class="cyan" routerLink="/centers" aria-label="Centres de vaccination">
              <mat-icon>local_hospital</mat-icon>
            </button>
          </div>
          <div class="button-container">
            <button mat-mini-fab color="accent" routerLink="/patients" aria-label="Liste des patients">
              <mat-icon>supervised_user_circle</mat-icon>
            </button>
          </div>
          <div class="button-container" *ngIf="showAdminBoard">
            <button routerLink="/admin-board" mat-mini-fab color="warn" aria-label="Admin dashboard">
              <mat-icon>dashboard</mat-icon>
            </button>
          </div>
          <div class="button-container" *ngIf="showSuperadminBoard" >
            <button routerLink="/superadmin-board" mat-mini-fab color="warn" aria-label="Superadmin dashboard">
              <mat-icon>dashboard</mat-icon>
            </button>
          </div>
          <div class="button-container" *ngIf="showDoctorBoard" >
            <button routerLink="/doctor-board" mat-mini-fab color="warn" aria-label="Doctor dashboard">
              <mat-icon>dashboard</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
    <span class="spacer"></span>
    <section>
      <div class="button-row" *ngIf="!isLoggedIn">
        <button mat-raised-button routerLink="/login">Connexion</button>
        <button mat-raised-button color="primary" routerLink="/register">Inscription</button>
      </div>
      <div class="button-row" *ngIf="isLoggedIn">
        <button mat-raised-button routerLink="/profile">Mon profil</button>
        <button mat-raised-button color="warn" (click)="logout()">Déconnexion</button>
      </div>
    </section>
  </mat-toolbar>
</p>

<div class="container">
  <router-outlet></router-outlet>
</div>