.spacer {
    flex: 1 1 auto;
}

.cyan {
    background-color: #00BCD4;
}

.purple {
    background-color: #8E24AA;
}

.title {
    margin-right: 10px;
}

section {
    display: table;
}

.button-row {
    display: table-cell;
    max-width: 600px;
}

.button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

.container {
    margin-left: 8%;
    margin-right: 8%;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 60px;
}