<button class="separator" mat-raised-button color="primary" routerLink="/centers"><mat-icon>keyboard_backspace</mat-icon> Retour à la liste des centres</button>

<mat-card class="padding" *ngIf="center">
  <mat-card-title>Centre n°{{ center.id }} - {{ center.name }}</mat-card-title>
  <mat-card-subtitle>
    Adresse : {{ center.address }}, {{ center.postalCode }}
    {{ center.city | uppercase }}
  </mat-card-subtitle>
  <mat-card-actions class="button-row">
    <button mat-raised-button color="accent" ><mat-icon>today</mat-icon> Prendre un rendez-vous</button>
    <button mat-raised-button color="warn" (click)="delete(center.id)"><mat-icon>delete_forever</mat-icon> Supprimer le centre</button>
  </mat-card-actions>
</mat-card>