<div class="detail mt-3" *ngIf="center">
  <div class="box">
    <h1 class="title is-5">Centre n°{{ center.id }} | {{ center.name | uppercase }}</h1>

    <p class="subtitle is-5 mt-1">
      Adresse : {{ center.address }}, {{ center.postalCode }}
      {{ center.city | uppercase }}
    </p>

    <div class="buttons">
      <button class="button is-danger" (click)="delete(center.id)">
        Supprimer le centre
      </button>

      <button class="button is-light" routerLink="/centers">
        Retour à la liste des centres
      </button>
    </div>
  </div>
</div>