<div class="box">
  <p class="title is-5"><i class="mr-2 fa-solid fa-user-gear"></i> Mon compte</p>
</div>

<div class="box content" *ngIf="currentUser; else loggedOut">
  <p class="title is-5">{{ currentUser.firstName }} {{ currentUser.lastName | uppercase }}
  </p>

  <div class="tags has-addons are-medium">
    <span class="tag">Nom d'utilisateur</span>
    <span class="tag is-link">{{ "@" + currentUser.username }}</span>
  </div>

  <div class="tags has-addons are-medium">
    <span class="tag">Email</span>
    <span class="tag is-info">{{ currentUser.email }}</span>
  </div>

  <div class="tags has-addons are-medium">
    <span class="tag">Téléphone</span>
    <span class="tag is-dark">+33</span>
    <span class="tag is-warning">{{ currentUser.phone }}</span>
  </div>

  <div class="tags has-addons are-medium">
    <span class="tag">Rôles</span>
    <span *ngFor="let role of currentUser.roles" class="tag is-success">{{ role }}</span>
  </div>

</div>

<ng-template #loggedOut>
  <div class="notification is-danger">
    Veuillez vous connecter pour accéder à cette page.
  </div>
</ng-template>